.blockquote{
  margin-bottom: 191px;
}
.blockquote__block{
  width: 753px;
  position: relative;
  margin: 0 auto ;

  &::before{
    content: "";
    position: absolute;
    top: -28px;
    left: -47px;
    width: 51px;
    height: 51px;
    background-image: url(../images/open.png);
    background-repeat: no-repeat;


  }
  &::after{
    content: "";
    position: absolute;
    bottom: -42px;
    right: -47px;
    width: 51px;
    height: 51px;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;

  }
}
.blockquote__quote{
  position: relative;
  margin-bottom: 85px;
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
  &::before{
    content: "";
    position: absolute;
    top: -43px;
    left: 260px;
    width: 140px;
    height: 2px;
    background-image: url(../images/line.png);
    background-repeat: no-repeat;


  }

  &::after{
    content: "";
    position: absolute;
    bottom: -43px;
    left: 260px;
    width: 140px;
    height: 2px;
    background-image: url(../images/line.png);
    background-repeat: no-repeat;


  }

}

.blockquote__text{

  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}