.footer{
  padding: 35px 0;
  background: #F3F3F3;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;

}
.footer__block{
  display: flex;
}
.footer__list, .footer__number{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
